$mainColor: #d81b60;

:root {
  --mainColor: "#edc307";
}

.main-color {
  color: $mainColor;
}

.theme--light.v-pagination .v-pagination__item--active {
  outline: none !important;
}

#app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.theme--dark.v-chip:not(.v-chip--active) {
  background-color: var(--mainColor) !important;
}

.theme--light .v-select .v-chip:not(.v-chip--active) {
  background-color: var(--mainColor) !important;
  color: white;
}

.theme--light .v-select .mdi-close-circle::before {
  color: white;
}
